# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
ui/.idea/
ui/*.iml

# Rust
target/

# Editors and operating systems
.idea/
.vscode/
*.swp
Thumbs.db
.DS_Store

# Generated local configuration
*.local.json
